.login-input {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    padding: 5px;
    font-size: 13px;
    background-color: #EFEFEF;
    border-radius: 5px;
    width: 300px;
}

.info-input {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 5px;
    font-size: 13px;
    background-color: #EFEFEF;
    border-radius: 5px;
    width: 300px;
}
  
.login-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.label-doc-full {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    color: #7b7a7b;
}

.login-column{
    display: flex;
    flex-direction: column;
    justify-content: left; 
}

.page-doc-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.container-doc-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 2px #B4B2B4);
    width: 600px;
    height: 300px;
    margin: 25px;
}

.container-doc-info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 2px #B4B2B4);
    width: 600px;
    height: 400px;
    margin: 25px;
}

.input-doc {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    padding: 5px;
    font-size: 13px;
    background-color: #EFEFEF;
    border-radius: 5px;
    border-color: none;
    height: 50px;
    width: 325px;

}

.input-doc-sm {
    display: flex;
    font-weight: lighter;
    padding: 5px;
    font-size: 13px;
    background-color: #EFEFEF;
    border-radius: 5px;
    border-color: none;
    height: 15px;
    width: 150px;

}

.btn-doc {
    margin: 15px 0px 15px 0px;
    padding: 10px;
    color: white;
    background-color: #2D2F31;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    text-transform: uppercase;
    width: 100px;
  }

  
  .btn-doc-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .btn-doc-link:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .btn-doc-link:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .btn-doc-2 {
    margin: 15px 15px 15px 15px;
    padding: 10px;
    color: white;
    background-color: #2D2F31;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    text-transform: uppercase;

  }

.img-doc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 15px;
    margin: 15px;
    background-size: contain;
    overflow: hidden;
 }

 .img-doc-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 15px;
    margin: 15px;
    overflow: hidden;
 }

 .doc-img {
     width: 200px;
 }

 .doc-location {
     display: flex;
     flex-direction: row;
 }

 .doc-info {
     display: flex;
     flex-direction: row;
 }

 .doc-right-col {
     display: flex;
     flex-direction: column;
     width: 350px;
 }

 .doc-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .doc-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0px 5px 0px;

}

.doc-slider {
    background-image: url("/images/doc-slider.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.doc-slider-2 {
    background-image: url("/images/doc-slider-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}





