.search-title {
    font-weight: bold;
    color: white;
    text-align: center;
}

.search-h1 {
    font-size: 55px;
    margin: 5px;
    filter: drop-shadow(0 0 10px #000000c2);
}

.search-h3 {
    font-size: 25px;
    margin: 5px;
    filter: drop-shadow(0 0 10px #000000c2);
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.search-input {
    margin: 35px;
    width: 700px;
    height: 20px;
    font-size: 20px;
    font-weight: thin;
    font-style: italic;
    padding: 10px;
    color: midnightblue; 
    border-radius: 5px;
}

.field {
    text-align: center;
}