.comment-input {
    display: flex;
    /* flex-direction: column; */
    font-weight: lighter;
    padding: 5px;
    font-size: 12px;
    background-color: #EFEFEF;
    border-radius: 5px;
    width: 275px;
    color: grey;
}
  
.comment-row {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    font-weight: bold;
}

.comment {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}


.label-full{
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    color: #7b7a7b;
}

.label-full-com{
    margin: 15px 0px 5px 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    color: white;
}

.form-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
    margin: 25px;
}

.form- {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-flow: wrap;
    padding: 0px 15px 0px 15px;
    margin: 25px;
}

.comment-column{
    display: flex;
    flex-direction: column;
    justify-content: left;
  
}

.page-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 2px #B4B2B4);
    margin: 15px;
}

.comment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    /* filter: drop-shadow(0 0 2px #B4B2B4); */
    width: 350px;
    margin: 25px;
}

.comment-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 30px 55px 30px 55px;
    border-radius: 5px;
    filter: drop-shadow(0 0 2px #B4B2B4);
    width: 700px;
    margin: 25px;
}

.comment-details {
    display: flex;
    flex-direction: row;
}

.btn-com {
    margin: 15px 15px 15px 15px;
    padding: 10px;
    color: white;
    background-color: #2D2F31;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    text-transform: uppercase;

  }