.page {
  margin: 80px 0px 50px 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #191919;

  font-family: 'Montserrat';
}


.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #191919;

  font-family: 'Montserrat';
}

.nav-style {
  text-align: right;
  margin: 10px;

}

.nav-style li {
  list-style: none;
  display: inline;
  margin: 0 30px 0px 10px;


}

.nav-style a {
  text-decoration: none;
}

.navlink {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: bold;
  font-size: 16px;

}

.doc {
  margin: 50px;
  color: red;
  font-weight: bold;
  background-color: turquoise;
  font-size: 35px;
}

.logo {
  width: 150px;
}

.home-slider {
  background-image: url("/images/doc-slider.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-img {
  width: 600px;
}

.home-h1 {
  font-size: 55px;
  margin: 5px;
  filter: drop-shadow(0 0 10px #000000c2);
  color: white;
  text-align: center;
}

.home-h3 {
  font-size: 25px;
  margin: 5px;
  filter: drop-shadow(0 0 10px #000000c2);
  color: white;
  text-align: center;
}

.btn-home {
  font-size: 26px;
  padding: 10px;
  margin: 20px;
  font-weight: bold;
  background-color: none;
  border: white;
  border-radius: 5px;
  width: 150px;

}

.home-row {
  display: flex;
  flex-direction: row;
}

.chevron-img {
  width: 45px;
  margin: 145px 0px 0px 0px;
}